header{ 
background-color:rgb(148, 137, 137); 
border:indianred 5px solid;
display:block; 
text-align:center; 
padding:5px; 
font-family:fantasy; 
color:rgb(240, 215, 168); 
font-size:30px; 
} 
#block li{ 
margin-left:50px; 
font-family:Arial, Helvetica, sans-serif; 
text-transform:Capitalize; 
font-size:30px; 
background-color:rgb(158, 132, 136); 
display:inline-block; 
padding:5px ; 
} 
#block a{ 
text-decoration:none; 
 
} 
#inline li{ 
float:left; 
margin-left:50px; 
margin-bottom:1000px; 
font-family:Arial, Helvetica, sans-serif; 
text-transform:Capitalize; 
font-size:30px; 
background-color:rgb(100, 228, 158); 
display:block; 
padding: 5px; 
} 
#inline a{ 
text-decoration:none; 
} 
 