p {
    background-color: yellow;
    color : red;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
}
#abc1 {
    background-color: lightgreen;
    color : blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}
.abc2 {
    background-color: orange;
    color : purple;
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
}
.abc3 {
    width: 100%;
    height: 100%;
    border : 2px solid black;
    background-color: lightblue;
    color : darkblue;
    font-family: 'Georgia', serif;
    font-size:large;
}
.details {
    background-color:rgb(255, 255, 255) ;
    color : black;
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
}
.quali{
    width: 100%;
    height: 100%;
    border : 2px solid black;
    background-color:rgb(200, 162, 200) ;
    color : black;
    font-family: 'Verdana', sans-serif;
    font-size:small;
}
.info{
    background-color:rgb(237, 209, 158) ;
    color : rgb(25, 22, 22);
    font-family: 'Tahoma', sans-serif;
    font-size:small;
}